@using FitnessCenter.Domain.Entities
@model IEnumerable<FitnessClass>

    <!DOCTYPE html>
    <link href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />

    <div class="panel panel-default col-md-8 col-md-offset-2 top-buffer">
        <div class="panel-heading">
            <h2>Admin Portal</h2>
        </div>
        <a id="editClass" data-toggle="modal" asp-action="ListClasses" class="btn btn-info">
            <i class="glyphicon glyphicon-pencil"></i>  Classes
        </a>
        <a id="editClass" data-toggle="modal" asp-action="ListSchedules" class="btn btn-info">
            <i class="glyphicon glyphicon-pencil"></i>  Schedules
        </a>
    </div>
